# General
.vs
.vscode
.idea
.DS_Store

# Frontend
node_modules
package.json
package-lock.json
yarn.lock

# Frontend environment
_dev
.editorconfig
.eslintignore
.eslintrc.json
.prettierrc
devenv.config.json
gulpfile.js